.content {
    margin: 10px 0px 0px 10px;
    display: flex;
    flex-direction: column;

    .panels {
        display: flex;
        flex-direction: row;

        .panel-left {
            flex: 1;
        }

        .panel-right {
            margin: 10px;
        }

        .buttons {
            width: 110px;

            button {
                width: 45px;
                margin: 5px 1px 5px 5px;
            }
        }
    }
}
