.content {
  margin: 10px 0px 0px 10px;
  display: flex;
  flex-direction: column; }
  .content .panels {
    display: flex;
    flex-direction: row; }
    .content .panels .panel-left {
      flex: 1; }
    .content .panels .panel-right {
      margin: 10px; }
    .content .panels .buttons {
      width: 110px; }
      .content .panels .buttons button {
        width: 45px;
        margin: 5px 1px 5px 5px; }
